[Desktop Entry]
Type=ControlPanelApplet
Name=Terminal
X-logical-id=qtn_prod_fingerterm
X-translation-catalog=fingertermapplet
X-Maemo-Service=com.nokia.DuiControlPanel
X-Maemo-Method=com.nokia.DuiControlPanelIf.appletPage
X-Maemo-Object-Path=/
X-Maemo-Fixed-Args=Terminal

[DUI]
X-DUIApplet-ApplicationCommand=/usr/bin/fingerterm

[DCP]
Category=fingerterm
Order=1
WidgetType=Button












